/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/


#editor.open {
  background-color: #ff2;
}

#viewer {
  background-color: #f2f;
}

.title {
  font-size: 3vh;
  font-weight: bold;
}

.textbox {
  font-size: 2vh;
}





/*layout*/

.container {
  display: block;
  width: 100%;
}

.half-pane {
  display: inline-block;
  min-width: 50%;
  width: 50%;
  max-width: 50%;
}
